@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/* Override default Tailwind v4 dark mode to use the class strategy */
@custom-variant dark (&:is(.dark, .dark *));


:root{
  --primary-text:#202224;
  --secondary-color:#4880ff;
  --primary-muted:#e8e8e8;
  --secondary-muted:#e0e0e0;
  --background:oklch(1 0 0);

  /* labels */
  --label-primary:#00b69b;
  --label-orange:#fd9a56;
  --label-violet:#d456fd;
  --label-blue:#5a8cff;
  --label-transit:#ba29ff;
  --label-hold:#ffa756;
  --label-reject:#ef3826;
  --label-processing:#6225ff;

  --destructive:oklch(0.704 0.191 22.216);

}

.dark{
  --primary-text:#ffffff;
  --button-block-active:#273142;
  --background-button-hover:#e0e0e0;

  /* navigation bar */
  --back-nav-block:#273142;
  --back-placeholder:#322d4e;
  --back-border:#cfcfcf;
  --background:#010611;
  --foreground:oklch(0.985 0 0);
}

@theme inline{
  --color-primary-text:var(--primary-text);
  --color-secondary-color:var(--secondary-color);
  --color-primary-muted:var(--primary-muted);
  --color-secondary-muted:var(--secondary-muted);
  --color-background:var(--background);
  --color-label-primary:var(--label-primary);
  --color-label-orange:var(--label-orange);
  --color-label-violet:var(--label-violet);
  --color-label-blue:var(--label-blue);
  --color-label-transit:var(--label-transit);
  --color-label-hold:var(--label-hold);
  --color-label-reject:var(--label-reject);
  --color-label-processing:var(--label-processing);
  --font-sans:'Geist Variable', sans-serif;
  --color-foreground:var(--foreground);
  --color-destructive:var(--destructive);
  --color-back-nav-block:var(--back-nav-block);
  --color-back-placeholder:var(--back-placeholder);
  --color-back-border:var(--back-border);
  --color-background:var(--background);
}

@layer utilities{
 .font-inter{
  font-family: 'Windsong', sans-serif;
 }
 .hide-scrollbar{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
 }
}
*{
  font-family:"Inter"
}

/*---break---  */

@layer base {

  body {
    @apply bg-background text-foreground;

  }
  

}

